/* Sidebar container */
.sidebar {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100px; /* Adjust the sidebar width as per your preference */
    height: 180vh; /* Full height of the page */
    background-color: #0F1D3D;/* Sidebar background color */
    color: white;
    padding-top: 20px; /* Padding from the top */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

  }
  
  .sidebar nav ul li {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #34495e; /* Add separation between the items */
    /* margin-bottom: 10px; */
  }
  
  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .sidebar nav ul li a:hover {
    background-color: #0F1D3D;
  }
  
  .nav-icon {
    margin-right: 10px;
    font-size: 20px; /* Icon size */
  }
  
  /* Sidebar logo (if needed) */
  .sidebar .logo2 {
    width: 80%;
    margin-bottom: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Ensuring links are well-spaced and accessible */
  .sidebar nav ul li a {
    padding: 12px;
    display: flex;
    align-items: center;
  }
  
  .sidebar nav ul li a:hover {
    background-color: #34495e;
    border-radius: 5px;
  }
  